/** CSS STYLE **/
@font-face {
  font-weight: normal;
  font-family: "Open Sans";
  font-style: normal;

  src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-weight: normal;
  font-family: "Neucha";
  font-style: normal;

  src: url("../fonts/Neucha-Regular.ttf") format("truetype");
}

:root {
  --main-color: #fe8a02;
  --main-orange-dark: #ea7600;
  --main-color-dark: #42413c;
  --white: #fff;
  --light-white: #d7ccc0;
  --lighthing: #f5f4f0;
  --dark: #2a2626;
  --dark-light: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

body {
  color: var(--dark);
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.6em;
}

h1,
h2,
h3 {
  line-height: 1.2em;
}

h1 {
  font-weight: normal;
  font-size: 72px;
  font-family: "Neucha", cursive;
}

h2 {
  color: var(--main-color);
  font-weight: normal;
  font-size: 60px;
  font-family: "Neucha", cursive;
}

h3,
.feature-comment {
  font-weight: normal;
  font-size: 34px;
  font-family: "Neucha", cursive;
  line-height: 1.2em;
}

.wrapper {
  display: flex;
  justify-content: center;

  width: 1110px;
  max-width: 1110px;
  margin: 0 auto;
  padding: 100px 0;
}

.relative {
  position: relative;
}

.d-flex {
  display: flex;
}

.flex-reverse {
  flex-direction: row-reverse;
}

.flex-column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.align-items-start {
  align-items: flex-start;
}

.justify-beetween {
  justify-content: space-between;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-grow {
  flex-grow: 1;
}

.margin-bottom-16 {
  margin-bottom: 16px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-bottom-30 {
  padding-bottom: 30px;
}

.margin-bottom-100 {
  margin-bottom: 100px;
}

.margin-top-40 {
  margin-top: 40px;
}

.margin-top-60 {
  margin-top: 60px;
}

.margin-right-30 {
  margin-right: 30px;
}

.margin-left-30 {
  margin-left: 30px;
}

.text-center {
  text-align: center;
}

.text-orange {
  color: var(--main-color);
}

.text-dark {
  color: var(--dark);
}

.text-brown {
  color: var(--brown);
}

.text-white {
  color: var(--white);
}

.text-lighting {
  color: var(--light-white);
}

.text-dark-lighting {
  color: var(--dark-light);
}

.header-title {
  z-index: 2;

  padding-bottom: 200px;
}

.header-img {
  position: absolute;
  top: 55px;
  right: -270px;

  width: auto;
  max-height: 525px;
}

.bg-light {
  background-color: var(--lighthing);
}

.bg-brown {
  background-color: var(--brown);
}

.bg-dark {
  background-color: var(--main-color-dark);
}

.bg-image::before {
  position: absolute;
  top: 0;
  left: 0;

  width: 1440px;
  height: 100%;

  background-color: var(--lighthing);
  background-image: url(../images/background.png);
  background-repeat: no-repeat;
  background-size: cover;

  opacity: 0.1;

  content: "";
  pointer-events: none;
}

.text-block {
  display: flex;
  width: 100%;
}

.text-block div {
  display: flex;
  flex-direction: column;

  width: 50%;
}

.text-block div:not(:last-child) {
  margin-right: 30px;
}

.btn {
  padding: 12px 24px;

  color: var(--white);
  font-weight: bold;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  text-decoration: none;

  background-color: var(--main-color);

  transition: 0.5s;
}

.btn:hover {
  background-color: var(--main-orange-dark);
}

.block-video {
  margin-bottom: -200px;
}

.video,
.img {
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.block-navigation {
  flex-basis: 33%;
  padding-top: 100px;

  background-color: var(--main-color-dark);
}

.navigation-card-wrapper {
  flex-grow: 1;

  width: 30%;
  margin-bottom: 20px;

  background-color: var(--lighthing);
}

.navigation-card-title {
  background-color: inherit;
}

.navigation-card-wrapper:not(:nth-child(3n)) {
  margin-right: 30px;
}

.navigation-title {
  color: var(--white);
  font-size: 52px;
}

.navigation-link-wrapper {
  padding: 24px;

  text-decoration: none;

  cursor: pointer;

  transition: 0.5s;
}

.navigation-link-wrapper:hover {
  background-color: var(--main-color);
}

.card-number {
  padding-bottom: 40px;

  color: var(--main-color-dark);

  font-size: 64px;
  font-family: "Neucha", cursive;
  line-height: 1;
}

.card-text {
  color: var(--dark);
}

.navigation-link-wrapper:hover .card-number,
.navigation-link-wrapper:hover .card-title,
.navigation-link-wrapper:hover .card-text {
  color: var(--white);
}

.feature-subtitle {
  font-size: 24px;
  font-family: "Neucha", cursive;
  line-height: 1;
}

.column-feature-img {
  z-index: 1;
}

.description-how {
  padding: 5px 10px;

  font-weight: bold;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.2em;
  text-transform: uppercase;
}

.column-description {
  width: 50%;
}

.form {
  padding: 40px 50px;
}

.input-block-wrapper {
  width: 485px;
}

.input-title {
  margin-bottom: 8px;

  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.2em;
}

.input {
  width: 415px;
  height: 50px;
  padding: 15px;

  font-family: inherit;
}

.input-btn {
  width: 70px;
  height: 50px;

  border: none;

  box-shadow: none;

  cursor: pointer;
}

.input-btn-wrapper::before {
  position: absolute;
  top: 50%;
  right: 50%;

  width: 24px;
  height: 24px;

  background-image: url(../images/send.svg);
  background-repeat: no-repeat;
  background-size: 24px 24px;

  transform: translate(50%, -50%);

  content: "";
  pointer-events: none;
}

.form-rules {
  font-size: 12px;
}

.form-rules a {
  text-decoration: underline;

  cursor: pointer;
}

.block-contacts {
  font-size: 14px;
}
